//设计稿基准
$vw_design: 360;
$content-width: 336;
$margin-vertical: 20;
$vw_fontsize: 36;
$title_color: #263038;
$normal_color: #4e5d6b;
$read_more_color: #247bff;

// dark
$title_color_dark: #263038;
$normal_color_dark: #4e5d6b;
