@import 'reset';
@import 'variables';

@function rem($basesize) {
  @return ($basesize / $vw_fontsize) * 1rem;
}

html {
  // 取视口大小的1 / 10作为1rem
  font-size: ($vw_fontsize / $vw_design) * 100vw;

  // 同时，通过Media Queries 限制根元素最大最小值
  @media screen and (max-width: 360px) {
    font-size: 36px;
  }
  @media screen and (min-width: 540px) {
    font-size: 54px;
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, Arial, sans-serif;
  font-size: rem(12);
  max-width: 1200px;
  margin: 0 auto;
  color: $normal_color;
  line-height: calc(23 / 14);
  overflow-wrap: break-word;
  padding: 0 rem(12);
}
header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 65px;
  padding: 0 rem(12);
  background: rebeccapurple;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);

  h1 {
    color: $title_color;
    flex: 1 1 auto;
  }

  ul {
  }
}

.main {
  padding-top: 70px;
  min-height: calc(100vh - 125px);

  ul {
    li {
      margin-bottom: rem(12);

      span {
        font-size: rem(10);
      }
    }
  }
}

// dark mode
.dark {
  background: #000000;
  header {
    h1 {
      color: $title_color_dark;
    }

    .details {
      color: $normal_color_dark;
    }
  }

  article {
    color: $normal_color_dark;
  }
}
h1 {
  color: inherit;
  text-rendering: optimizeLegibility;
  font-size: rem(22);
  font-weight: 500;
  line-height: calc(28 / 22);
}

h2 {
  margin-bottom: rem(12);
  color: inherit;
  text-rendering: optimizeLegibility;
  font-size: rem(20);
  font-weight: 500;
  line-height: calc(28 / 22);
}

h3 {
  margin-bottom: rem(12);
  color: inherit;
  text-rendering: optimizeLegibility;
  font-size: rem(18);
  font-weight: 500;
  line-height: calc(28 / 22);
}

h4 {
  margin-bottom: rem(12);
  color: inherit;
  text-rendering: optimizeLegibility;
  font-size: rem(16);
  font-weight: 500;
  line-height: calc(28 / 22);
}
